<!-- <percabangan pertama>
<div *ngIf="courses.length > 0">
  List of courses
</div>
<div *ngIf="courses.length == 0">
  no courses yet
</div> -->

<!-- <percabangan kedua>
    <div *ngIf="courses.length > 0; else noCourses">
      List of courses
    </div>
    <ng-template #noCourses>
      no courses yet
    </ng-template> -->

<!-- <percabangan ketiga>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  no courses yet
</ng-template> -->

<!-- <hidden>
<div [hidden]="courses.length == 0">
  List courses list
</div>
<div [hidden]="courses.length > 0">
  no courses yet
</div> -->

<!-- <ul class="nav nav-pills">
  <li class="nav-item">
    <a
      (click)="viewMode = 'map'"
      class="nav-link"
      [class.active]="viewMode == 'map'"
      >Map View</a
    >
  </li>
  <li class="nav-item">
    <a
      (click)="viewMode = 'list'"
      class="nav-link"
      [class.active]="viewMode == 'list'"
      >List View</a
    >
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div> -->

<!-- <ul>
  <li *ngFor="let item of coursesFor; index as is">
    {{i}}-{{item.name}}
  </li>
</ul> -->

<!-- <button (click)="onAdd()">add</button>
<ul>
  <li *ngFor="let item of coursesFor; index as isEven">
    {{item.name}}
    <span *ngIf="isEven">(Even)</span>
    <button (click)="onRemove(item)">Remove</button>
    <button (click)="onChange(item)">update</button>
  </li>
</ul> -->
<!-- <br>
&nbsp; <button (click)="loadCourses()">Tampilkan data</button>
<li *ngFor="let itemone of coursesForOne; TrackBy:trackCourse">
  {{itemone.nama}}
</li> -->

<!-- <div *ngIf="courses.length > 0">
  list of couses
</div>
<ng-template [ngIf]="courses.length>0">
  <div>
    list of course
  </div>
</ng-template> -->

<!-- <span
class="fa"
[class.fa-star]="isSelected"
[class.fa-star-o]="!isSelected"
(click)="onClickAlias()"></span>
<span
class="fa"
[ngClass]="{
  'fa-star':isSelected,
  'fa-star-o':!isSelected
}"
(click)="onClickAlias()"></span> -->

<!-- percobaan costum percobaan -->
<br>
<!-- &nbsp;<input type="text" appInputFormat [format]="'uppercase'"> -->
&nbsp;<input type="text" [appInputFormat] ="'uppercase'">
<router-outlet></router-outlet>
